.pokedexContainer {
  padding: 20px 50px 0 50px;
  .cardMedia {
    margin: auto;
  }
  .cardContent {
    text-align: center;
  }
}

.searchContainer {
  display: flex;
  // background-color: fade(theme.palette.common.white, 0.15);
  padding: 5px 20px;
  .searchIcon {
    align-self: flex-end;
    margin-bottom: 5px;
  }
  .searchInput {
    width: 200px;
    margin: 5px;
  }
}
